<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- //头部模版 -->
  <%- partial('_partial/header') %>
  <body class="is-preload">
    <%- partial('_partial/menu') %>
    <!-- //内容模版 -->
    <%- body %>
    <!-- //尾部模版 -->
    <%- partial('_partial/footer') %>
  </body>
</html>