<!-- Header -->
<header id="header" class="alt">
    <h1><a href="index.html">Solid State</a></h1>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <% for(name in theme.menu) { %>
                <li>
                  <% if (url_for(theme.menu[name]) == '/' + path.replace('/index.html', '') || (url_for(theme.menu[name]) == '/' && is_home())) { %>
                    <a href="<%- url_for(theme.menu[name]) %>"><%- name %></a>
                  <% } else { %>
                    <a href="<%- url_for(theme.menu[name]) %>"><%- name %></a>
                  <% } %>
                </li>
            <% } %>
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>